body {
    background-color: #3c3c3c;
    font-family: sans-serif;
}
main {
    margin: 0 10%;
    width: 80%;
    background-color: #fff;
    padding: 1em;
    color: #3c3c3c;
}

.subtasks {
    position: relative;
    height: 10em;
    padding: 0;
}

h1 {
    color: #fff;
    margin-top: 1em;
    margin-left: 10%;
}
li {
    margin: 1em 0;
}

.container {
    position: relative;
    margin: 1em 0;
}

a {
    display: block;
    float: right;
    color: #fff;
    text-decoration: none;
    background-color: #2879a5;
    padding: 0.25em 1em;
    margin-left: 0.5em;
    margin-top: -0.25em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

.goback {
    margin: 0.5em 1em;
    float: left;
}

section {
    height: 5em;
    padding: 1em;
    line-height: 1.5em;
}
a:hover {
    background-color: #28b7e3;
}

a:active {
    background-color: #3bcc40;
}

hr {
    border: 1px solid #a3a3a3;
}
